nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background-color: rgb(200, 210, 207);

}
.link {
  padding: 10px 40px;
  color:black;
  text-transform: uppercase;
  text-decoration: none;
}

.first {
  margin-right: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
  }

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  }

body {
    background-color: white;
  }
  
.cont {
    display: flex;
    justify-content: center;
  }

.back {
    background-color: #f4eddd; 
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
  }

.change {
    background-color: #ecb390;;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    cursor: pointer;
    margin: 10px;
  }

.change:hover {
    color: black;
  }

h2, h3, h4, p {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color:black;
  }

h4 {
      color: #df7861;
  }
  
.showbtn {
    background: white;
    border: none;
    font-size: 16px;
    color: #0071c2
  }

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
  margin: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(199, 197, 197);
  margin: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding: 20px;
}

.space {
  border:1px solid rgb(199, 197, 197);
  padding: 10px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.contain {
  padding: 10px;
}

.btn {
  background-color: rgb(200, 210, 207);
  font-size: 16px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: black;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  margin-left: 50%;
}

@media all and (max-width: 500px) {
  .link {
    font-size: 12px;
    padding: 2px 4px;
}
.change {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}
img {
  width: 200px;
  height: 150px;
}
}